# This is the config file for rproxy
# Each line is a rproxy entry, represents target,alias,html,css,js,flash,global,sslonhttp
# the format is as follows:
# TARGET ALIAS Y/N Y/N Y/N Y/N Y/N Y/N
# e.g: 
# www.google.com gg Y Y Y Y Y N
# obmem.com ob Y Y Y Y N N
fbcdn.net fbcdn Y Y Y Y Y N
facebook.com fb Y Y Y Y Y N
wenxuecity.com wxc Y Y Y Y N Y
6park.com 6p Y Y Y Y Y N
tornadoweb.org tw Y Y Y Y N N
kenengba.com kn8 Y Y Y Y N N
twimg.com twimg Y Y Y Y Y N
meirixiaochao.com mrxc Y Y Y Y N N
youtube.com yt Y Y Y Y Y N
bbc.co.uk bbc Y Y Y Y N N
ytimg.com ytimg Y Y Y Y Y N
tumblr.com tumblr Y Y Y N N N
lvpin001.blogspot.com lvpin Y Y Y Y N N
feeds.feedburner.com feeds Y Y Y Y N N
blogger.com blg Y Y Y Y Y N
google.com gg Y Y Y Y Y N
tgbus.com tgbus Y Y Y Y N N
creaders.net cr Y Y Y Y N N
voanews.com voa Y Y Y Y N N
www.all-nettools.com ant Y Y Y Y N N
myeclipse.com ec Y Y Y Y N N
python.org python Y Y Y Y Y N
www.chinagfw.org cfw Y Y Y Y Y N
wretch.cc wretch Y Y N N N N
youku.com youku Y Y Y Y N N
bullogger.com nb Y Y Y Y N N
2u.com.cn 2u Y Y Y Y N N
dongtaiwang.com dtw Y Y Y Y N N
duowan.com duowan Y Y Y Y N N
torproject.org trp Y Y Y Y Y N
igfw.tk fqw Y Y Y Y Y N
blog.yam.com bym Y Y Y Y Y N
fooooo.com f5o Y Y Y Y Y N
yam.com ym Y Y Y Y Y N
blog.yam.com bgy Y Y Y Y Y N
www.android.com android Y Y Y Y N N
yyyyiiii.blogspot.com yizhe Y Y Y Y N Y
twitter.com twitter Y Y Y Y Y N
imdb.com IMDB Y Y Y Y Y N
blogspot.com blogspot Y Y Y Y Y N
cldz.tk cldz Y Y Y Y N N
ghs.google.com ghs Y Y Y Y Y N
wordpress.com wdpr Y Y Y Y Y N
chinadigitaltimes.net cdtimes Y Y Y Y Y N
twitgoo.com tuigu Y Y Y Y Y N
simplecd.org ss Y Y Y Y N N
6ytk.com 6ytk Y Y Y N Y N
ied2k.com ied2k Y Y Y Y N N
